.blog {
  padding: 12rem 0 2rem;
  text-align: center;

  &__title {
    @include font_config(normal, 500, 4.3rem, 6rem);

    font-family: $font-title;
    color: $color-txt;
    margin-bottom: 20px;
  }

  &__caption {
    @include font_config(normal, 400, 1.8rem, 2.9rem);

    color: $color-txt-opacity;
    margin-bottom: 50px;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
  }

  &__card:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  &__card:nth-child(n + 2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__card {
    width: 554px;
    height: 100%;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    // border-radius: 10px;

    &-img {
      object-fit: cover;
      border-radius: 10px;
      width: 100%;
      min-height: 201px;
    }

    &-title {
      @include font_config(normal, 500, 2rem, 3.2rem);

      font-family: $font-title;
      color: $color-txt;
      margin-bottom: 10px;
    }

    &-subtitle {
      @include font_config(normal, 400, 1.8rem, 2.9rem);

      color: $color-txt-opacity;
      margin-bottom: 10px;
    }

    &-hashtag {
      @include font_config(normal, 500, 2rem, 3rem);

      color: $color-txt;
    }

    &-figcaption {
      padding: 30px 0 30px 30px;
      text-align: left;
    }
  }
}
