$font: 'Roboto', arial, helvetica, sans-serif;
$font-title: 'Gelasio', arial, helvetica, serif;
$font-logo: 'Ribeye', arial, helvetica, sans-serif;

$color-primary: #C9453B;
$color-primary-hover: #dd594f;
$color-primary-active: #c42f24;
$color-txt: #000000;
$color-light: #fff;

$z-tooltip: 1;
$z-fixed: 2;
